<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Recibos de Nomina TGM</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    
</head>
<body>

<h2>Descarga tu Recibo de nomina     <span th:text="${userName}" /></h2>
<table>
  <tr>
    <td>Año</td>
    <td>  
    <select id="annio" name="annio" th:onchange="'window.location.href = \'' + @{/recibo} + '?annio=\' + this.value ' ">
    <option th:each="i : ${#numbers.sequence(2000, 2021)}" th:value="${i}" th:text="${i}" 
      th:selected="${i} == ${year}" ></option>
	</select>
  
  </td>
  </tr>
  <tr>
    <td>Quincena</td>
    <td> 
    
    <select id="quincena" name="quincena">
    <option th:each="i : ${#numbers.sequence(1, 25)}" th:value="${i}" th:text="${i}" 
      th:selected="${i==25}"></option>
</select>

  </td>
  </tr>
 
</table>
<br/>
<h2>Recibos</h2>

<table>
<tr th:each="recibo: ${recibos}">
    <td th:text="${recibo.nombreRecibo}" />
</tr>
</table>

	<p><button type="submit" th:name="action" th:value="buscar">Buscar</button></p>

    <p><a href="/logout">Salir</a></p>
</body>
</html>